@import "../variables";
@import "../mixins";

#works {
  background-color: yellow;
  @include flexContainer(column, center, center, nowrap, 3rem);
}

.worksMenu {
  width: 100%;
  min-height: 10vh;
  ul {
    @include flexContainer(row, center, center, wrap, 5rem);
  }
  li {
    text-decoration: none;
    list-style: none;
    width: 300px;
    height: 70px;
    background-color: aqua;
    @include flexContainer(row, center, center, wrap, 3rem);
  }

  a {
    font-size: 20px;
  }
}

.workWrapper {
  @include flexContainer(row, center, center, wrap, 3rem);
}

.imageGround {
  width: 100px;
  height: 200px;
  background-color: aquamarine;
}
