@font-face {
    font-family: "tablo";
    src: url("../fonts/liquidcrystal-bold-webfont.woff") format('woff');
    src: url("../fonts/liquidcrystal-bold-webfont.woff2") format("woff2");
    src: url('../fonts/liquidcrystal-bold-webfont.eot'), format('eot')
    url('../fonts/liquidcrystal-bold-webfont.svg') format("svg"),
}