@mixin flexContainer($direction, $justify, $align, $wrap, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin flexItem($grow, $shrink, $basis, $align) {
  flex-grow: $grow;
  flex-shrink: $shrink;
  flex-basis: $basis;
  align-self: $align;
}

@mixin font($family, $style, $weight, $stretch, $pcSize, $mobSize) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-stretch: $stretch;
  @include adaptiv-font($pcSize, $mobSize);
}

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
